body {

    font-family: verdana, arial, sans-serif;
    background-color: #484242;
    background-image: url(espacio.jpeg)
}

h1 {

    color: #ebeb86;
    font-size: 300%
}

p {

    color: white;
}
